body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

table td {
    border:2px solid black;
    width:100px;
    height: 100px;
}